<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            class="form-control"
            id="title"
            name="title"
            ngModel
            required
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            ngModel
            required
          ></textarea>
        </div>
        <button
          [disabled]="!postForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button (click)="onFetchPosts()" class="btn btn-primary">
        Fetch Posts
      </button>
      |
      <button
        (click)="onClearPosts()"
        [disabled]="loadedPosts.length < 1"
        class="btn btn-danger"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul *ngIf="loadedPosts.length >= 1 && !isFetching" class="list-group">
        <li *ngFor="let post of loadedPosts" class="list-group-item">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching && !error">Loading...</p>
      <div *ngIf="error" class="alert alert-danger">
        <h2>An Error Occurred!</h2>
        <p>{{error}}</p>
        <button (click)="onHandleError()" class="btn btn-danger">Okay</button>
      </div>
    </div>
  </div>
</div>
